textarea {
    min-height: 400px;
}
.line{
	height: 2px;
	background-color: lightgray;
	margin-top: 1%;
}
body{
	font-family: arial,sans-sarif;
	font-size: 18px;
}
.subject-mail{
	border: 1px solid black;
	border-radius: 2px;
	text-align: center;
	font-size: 30px;
	padding: 2%;
	margin-top: 1%;
}
.recipients-mail{
	font-family: Garamond;
	padding-top: 5px;
}
.mail-content{
	padding: 2%;
}
.body-mail{
	padding: 10%;
	padding-top: 5%;
}
#timestamp-mail{
	font-family: Courier;
	padding-top: 1%;
	text-align: right;
}
.row{
	border: 2px solid black;
	padding-top: 0.75%;
	font-size: 18px;
	font-family: arial;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
}
.conainer-fluid{
	width: 100%;
}